@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
:root {
    --background-color: #f1f1f1;
    --hover-color: rgb(102, 40, 245);
}
 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: "Montserrat", sans-serif;
   
}


header {
    nav {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 100%;
        z-index: 9;
    }

    .logo a {
        font-size: 20px;
        font-weight: 700;
        color: #353535;
        text-transform: uppercase;
    }

    .header_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    /* normal menu css */
    .main_menu {
        ul {
            margin: 0px;
            padding: 0px;
        }
    }

    .main_menu>ul>li {
        display: inline-block;
        position: relative;
        margin: 0 -2px;
    }

    .main_menu ul li {
        position: relative;
    }

    .main_menu ul li a {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.70);
        padding: 15px 0px 15px 22px;
        display: block;
        font-weight: 400;
        text-decoration: none;

        i {
            font-size: 12px;
            font-weight: 600;
        }

        &:hover {
            text-decoration: none;
            color: #FFF;
        }
    }

    .main_menu ul li .active {
        color: #FFF;
        font-weight: 700;
        font-size: 15px;
    }

    /* Normal Dropdown menu */
    .main_menu ul li ul {
        width: 200px;
        background: #fff;
        transition: 0.5s;
        box-shadow: 0px 5px 15px 0px rgba(212, 201, 201, 0.75);
    }

    .main_menu ul li ul li a {
        padding: 10px 25px;
        font-size: 15px;
    }

    .main_menu ul li ul li a i {
        float: right;
    }

    .main_menu ul li ul li ul {
        left: 100%;
        top: 0;
    }

    /* mega menu css */
    .mega_menu_dropdown {
        position: static !important;
    }

    .mega_menu {
        left: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        transition: 0.5s;
        background: #090909;
    }

    .mega_menu_item {
        width: 25%;
        padding: 30px 20px;
    }

    .main_menu ul li .mega_menu_item a {
        padding: 10px 0;
    }

    .main_menu ul li .mega_menu_item a:hover {
        color: #ffffff;
    }

    .mega_menu_item h3 {
        margin-bottom: 15px;
        color: #fff;
    }

    .mega_menu_item img {
        width: 100%;
    }

    /* demo_2 css */
    .mega_menu_demo_2 .mega_menu {
        left: 50%;
        transform: translateX(-50%);
        width: 1140px;
    }

    .mobile_btn {
        display: none;
    }
}

.search_model_box{
    background: #0002d65e;
    .modal-content {
        border-radius: 0px;
        border: 0px solid rgba(0, 0, 0, .2);
        padding: 40px 10px 15px 10px;
    }
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 2px solid #0002d6;
    border-right: none;
    padding: 5px 10px;
    height: 50px;
    border-radius: 0px 0 0 0px;
    outline: none;
    color: #202020;
    font-weight: 500;
  }
  
  .searchTerm:focus{
    color: #222222;
  }
  
  .searchButton {
    width: 65px;
    height: 50px;
    border: 1px solid #0002d6;
    background: #0002d6;
    text-align: center;
    color: #fff;
    border-radius: 0 0px 0px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 100%;
  }
}



// =============Section Code Start==================

section.events {
    .event_update {
        display: flex;
        position: relative;

        .event {
            width: 20%;
            background: #23353E;
            position: relative;

            // height: 92.7vh;
            .line {
                width: 40px;
                height: 1px;
                background: white;
                display: flex;
                align-items: center;
                position: absolute;
                left: -200px;
                right: 0px;
                bottom: 37px;
                margin: 0px auto;
            }
        }

        .update {
            width: 80%;

            .video_box {
                &::before {
                    content: "";
                    width: 80%;
                    height: 100%;
                    background: #0002d766;
                    position: absolute;
                }

                video.slider_vedio {
                    width: 100%;


                }
            }

            .event_heading {
                position: absolute;
                left: 230px;
                bottom: 130px;
                display: flex;
                z-index: 1;

                h1 {
                    font-size: 65px;
                    font-style: normal;
                    font-weight: 400;
                    transform: rotate(180deg);
                    writing-mode: vertical-rl;
                    white-space: nowrap;
                    line-height: 42px;
                    font-family: "Londrina Outline", sans-serif;
                    color: #fff;
                }

                h3 {
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 121.894%;
                    transform: rotate(180deg);
                    writing-mode: vertical-rl;
                    white-space: nowrap;
                    color: #fff;
                    line-height: 64px;
                }

                p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    transform: rotate(180deg);
                    writing-mode: vertical-rl;
                    white-space: nowrap;
                    color: #fff;
                }
            }
        }
    }
}


section.track_day_video.recent_event.gallery{

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(../img/gallery.png) lightgray 50% / cover no-repeat;
}
section.recent_event {
    background-image: url(../img/recent_event.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 70px;
    background-position: center;

    .recent_box {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
       gap: 30px;
        .recent_heading {
            padding-inline-start: 89px;
            width: 35%;

            p {
                color: #FFF;
                font-size: 20px;
                font-weight: 500;
            }

            h2 {
                color: #FFF;
                font-size: 40px;
                font-weight: 600;
                font-family: "Krona One", sans-serif;
            }

            .left_arrow {
                text-align: center;
                padding: 40px 0px;

                a {
                    color: #fff;
                    font-size: 60px;
                }
            }

            .cotb {
                text-align: right;

                h3 {
                    color: #FFF;
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 121.894%;
                }

                p {
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 500;
                }

                .view_more {
                    margin-top: 24px;

                    button.more {
                        background: #0002D7;
                        box-shadow: -5.25px 3px 12.75px 0px rgba(0, 0, 0, 0.17);
                        color: #fff;
                        border: 0px;
                        padding: 8px 33px;
                        font-size: 15.737px;
                        font-weight: 700;
                    }
                }
            }
        }
        .recent_product_slider{
            width: 65%;
            .realtives{
                position:relative;
            }
            #recent_event .item{
                margin: 0px 10px;
                color: #FFF;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
            }
            #recent_event .item img{
                width:100%;
                height:550px;
                border-radius: 0px;
            }

            #recent_event1 .item{
                margin: 0px 10px;
                color: #FFF;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
            }
            #recent_event1 .item img{
                width:100%;
                height:550px;
                border-radius: 0px;
            }

            #recent_event2 .item{
                margin: 0px 10px;
                color: #FFF;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
            }
            #recent_event2 .item img{
                width:100%;
                height:550px;
                border-radius: 0px;
            }


            #recent_event11 .item{
                margin: 0px 10px;
                color: #FFF;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
            }
            #recent_event11 .item img{
                width:100%;
                height:550px;
                border-radius: 0px;
            }

            #recent_event22 .item{
                margin: 0px 10px;
                color: #FFF;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
            }
            #recent_event22 .item img{
                width:100%;
                height:550px;
                border-radius: 0px;
            }
            .customNavigation{
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 13px;
                margin-bottom: 10px;
                padding-bottom: 3px;
                padding-right: 10px;
                a.btn {
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    border: 2px solid white;
                    border-radius: 50px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
            }
            .customNavigation a{
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
        }
    }
}





section.championship {
    background-image: url(../img/championship.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 00px 0px;
    position: relative;
    background-position: center;

    &::before {
        content: "";
        width: 400px;
        height: 100%;
        background: rgba(0, 2, 215, 0.60);
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0px auto;
    }

    .champ_head {
        padding-top: 50px;

        h2 {
            color: #FFF;
            text-align: center;
            font-size: 40px;
            font-weight: 600;
            line-height: 54px;
            margin-bottom: 25px;
            font-family: "Krona One", sans-serif;
        }
    }

    .champ_tab {
        .tab-content {
            margin-top: 30px;
            padding-bottom: 50px;

            .camp_content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .fmsci {
                    width: 25%;
                    text-align: center;

                    img {
                        width: 112px;
                        height: 112px;
                        margin-bottom: 12px;
                    }

                    p {
                        color: #FFF;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 300;
                    }
                }

                .camp_img {
                    width: 40%;

                    img {
                        width: 100%;
                    }
                }

                .right_arrow {
                    width: 25%;

                    a {
                        color: #fff;
                        font-size: 40px;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }

        ul.nav.nav-tabs {
            justify-content: center;
            border-bottom: 0px;

            li.nav-item {
                a.nav-link {
                    border: 1px solid rgba(255, 255, 255, 0.7);
                    border-radius: 0px;
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 26.053px;
                    font-weight: 500;
                }

                a.nav-link.active {
                    background: none;
                    color: #FFF;
                }
            }
        }
    }
}


// =============Section Code End==================



section.events.track_day_event{
    .event {
        width: 15%;
        position: relative;
        background: linear-gradient(93deg, #23353E 4.65%, #000 16.8%);
        .line {
            width: 70px;
            height: 1px;
            background: white;
            display: flex;
            align-items: center;
            position: absolute;
            left: -65px;
            right: 0px;
            bottom: 82px;
            margin: 0px auto;
        }
    }
    .update {
        width: 85%;
        .event_heading{
            left: 0px;
            bottom: 35px;
            .box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column-reverse;
                .trade_logo{
                    img {
                        width: 400px;
                        height: 460px;
                        object-fit: contain;
                    }
                }
            }
        }
        .video_box{
        &::before {
            width: 85%;
        }
    }
    }
}

section.about_track_day {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(../img/about_track_bg.png) lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .about_track_heading {
        padding: 100px 0px;
        width: 46%;
        margin: 0px auto;
        text-align: center;
        h1 {
            color: #FFF;
            font-family: "Krona One";
            font-size: 44px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 18px;
        }
        p {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin: 0px;
        }
    }
}


section.track_day_video{
    .track_day_video_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #000;
        .left {
            width: 30%;
            padding-inline-start: 92px;
            .track_heading{
                h3 {
                    color: #FFF;
                    font-family: "Krona One";
                    font-size: 30px;
                    font-weight: 400;
                }
                p {
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: normal;
                    margin: 40px 0px 12px 20px;
                }
            }
            .nav.flex-column.nav-pills {
                flex-direction: row !important;
                margin: 28px 0px 0px 20px;
                a.nav-link {
                    border: 0.514px solid rgba(255, 255, 255, 0.57) !important;
                    border-radius: 0px !important;
                    color: rgba(255, 255, 255, 0.57);
                    font-size: 13.391px;
                    font-weight: 500;
                }
                a.nav-link.active {
                    background: none !important;
                    color: #FFF;
                    font-size: 13.391px;
                    font-weight: 500;
                }
            }
        }
        .right {
            width: 70%;
            .card{
                border: 0px solid rgba(0, 0, 0, 0.125);
                border-radius: 0px;
            .track_content{
                position: relative;
                video.slider_vedio {
                    width: 100%;
                }
                .aru_grid {
                    position: absolute;
                    top: 50%;
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    left: 45px;
                    a {
                        color: #fff;
                        font-size: 38px;
                    }
                    .head{
                        h4 {
                            color: #FFF;
                            font-size: 19.8px;
                            font-weight: 800;
                            margin: 0px;
                        }
                        p {
                            color: #FFF;
                            font-size: 16.133px;
                            font-weight: 500;
                            margin: 0px;
                        }
                    }
                }
            }
        }
        }
    }
}



section.track_day_video.recent_event{
    .track_day_video_box{
        background: #0000;
        .left{
            width: 40%;
            .recent_heading {
                padding-inline-start: 0px;
                width: 100%;
            }
            .left_arrow {
                text-align: right;
            }
        }
        .right{
            width: 60%;
         .card {
                border: 0px solid rgba(0, 0, 0, 0.125);
                border-radius: 0px;
                background-color: #fff0;
           
            .recent_product_slider{
                width: 100%;
            }
        }
        }
    }
}






















footer {
    // background: #000;
    background-image: url(../img/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    .top_footer {
        padding: 45px 0px 25px;

        .footer_about {
            width: 86%;
            padding-top: 55px;

            p {
                margin: 0px;
                color: #FFF;
                text-align: justify;
                font-size: 12.773px;
                font-weight: 400;
                line-height: normal;
                font-family: "Poppins", sans-serif;
            }
        }


        .footer_head.contact_share {
            display: flex;
            justify-content: center;
            gap: 85px;
            align-items: flex-start;

            h3 {
                font-size: 17.031px;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 12px;
                font-family: "Poppins", sans-serif;
            }

            .footer_con {
                display: flex;
                gap: 45px;

                .con_us {
                    p {
                        color: #FFF;
                        font-size: 12.773px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin: 0px;
                        font-family: "Poppins", sans-serif;
                    }

                    p.call {
                        font-size: 14.902px;
                        font-style: normal;
                        font-weight: 600;
                        margin-top: 8px;
                        font-family: "Poppins", sans-serif;

                        a {
                            color: #fff;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        img {
                            width: 40px;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }

        .footer_head {
            h3 {
                color: #FFF;
                font-size: 14.902px;
                font-weight: 500;
                line-height: normal;
                font-family: "Poppins", sans-serif;
            }

            ul {
                margin: 0px;
                padding: 0px;

                li {
                    a {
                        color: #B0B0B0;
                        font-size: 12.773px;
                        font-weight: 400;
                        line-height: 23.417px;
                        font-family: "Poppins", sans-serif;

                        &:hover {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }

            ul.social {
                margin-top: 15px;

                li {
                    display: inline-block;
                    margin-right: 25px;
                    font-family: "Poppins", sans-serif;

                    &:last-child {
                        margin-right: 0px;
                    }

                    a {
                        color: #fff;
                        font-size: 25px;
                    }
                }
            }

        }
    }


    .bottom_footer {
        padding: 0px 0px 6px;

        .copy_right {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                p {
                    margin: 0px;
                    color: #FFF;
                    font-size: 12.773px;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                }
            }

            .right {
                ul {
                    margin: 0px;
                    padding: 0px;

                    li {
                        display: inline-block;
                        color: #fff;
                        margin-left: 10px;

                        a {
                            color: #FFF;
                            font-size: 12.773px;
                            font-weight: 400;
                            font-family: "Poppins", sans-serif;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

}


// ===========================
section.upcomming_event {
    margin-top: -175px;

    .up_heading {
        h1 {
            text-align: right;
            color: #FFF;
            font-size: 40px;
            font-weight: 700;
            line-height: 121.894%;
            margin: 0px;
        }
    }

    .event_location {
        background: linear-gradient(175deg, #0002D7 22%, #000171 84.9%);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .event_count {
            border-left: 1px solid #fff;
            padding-left: 40px;

            p {
                color: #FFF;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-family: "Krona One", sans-serif;
            }

            .reginter_btn {
                margin-top: 20px;

                button.now {
                    background: #0002D7;
                    box-shadow: -7px 4px 17px 0px rgba(0, 0, 0, 0.17);
                    width: 100%;
                    border: 0pc;
                    color: #fff;
                    padding: 10px 12px;
                    font-size: 20.983px;
                    font-weight: 700;
                }
            }

            .date_time {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .date {
                    background: #F8F8F8;
                    width: 65px;
                    height: 60px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        color: #000;
                        font-size: 15px;
                        font-weight: 400;
                        margin: 0px;
                        font-family: "Krona One", sans-serif;
                    }

                    p {
                        margin: 0px;
                        color: #A5A5A5;
                        font-weight: 400;
                        font-size: 8px;
                        font-family: "Krona One", sans-serif;
                    }
                }
            }
        }

        .video_location {
            display: flex;
            align-items: center;
            gap: 70px;
            position: relative;

            .loca_heading {
                h2 {
                    color: #FFF;
                    font-size: 45.944px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 124.994%;
                    font-family: "Krona One", sans-serif;
                }

                h3 {
                    color: #FFF;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 124.994%;
                    font-family: "Krona One", sans-serif;
                }

                p {
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0px;

                    i {
                        font-size: 30px;
                        margin-right: 8px;
                    }
                }
            }

            .img {
                width: 277px;
                height: 166px;
                display: flex;
                align-items: center;
                position: relative;

                img {
                    width: 100%;
                }

                .video_icon {
                    width: 69px;
                    height: 69px;
                    background: #fff;
                    z-index: 999;
                    position: absolute;
                    right: -34px;
                    line-height: 69px;
                    border-radius: 50px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        background: #0002D7;
                        width: 48px;
                        height: 48px;
                        display: inline-block;
                        line-height: 48px;
                        border-radius: 50px;
                        color: #fff;
                        font-size: 25px;
                        text-align: center;
                    }
                }
            }
        }
    }
}



section.all_event {
    padding: 50px 0px;



    .lined_heading {
        width: 35%;
        margin: 0px auto;

        h3 {
            color: #0002D7;
            text-align: center;
            font-size: 38px;
            font-weight: 500;
            font-family: "Krona One", sans-serif;
        }

        p {
            color: #000;
            text-align: center;
            font-size: 15px;
            font-weight: 400;
        }
    }


    .check_all_event_img {
        margin-top: 20px;
        .card {
            a.card__figure1.ridefree-hover img {
                height: 470px;
            }
            .ridefree-hover:hover .ridefree-wi-hover {
                display: none;
            }
            .ridefree-hover:hover .ridefree-w-hover {
                display: block;
            }
            .ridefree-w-hover {
                display: none;
            }
        }
    }
}

















.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1380px;
}

/* responsive css */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 960px;
    }

    .mega_menu_demo_2 .mega_menu {
        width: 940px;
    }

    .main_menu ul li ul {
        width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 720px;
    }

    .mega_menu_demo_2 .mega_menu {
        width: 700px;
    }

    .main_menu ul li a {
        font-size: 15px;
        padding: 20px 16px;
    }

    .main_menu ul li ul {
        width: 150px;
    }
}

@media (min-width: 768px) {
    .main_menu ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        margin-top: 50px;
    }

    .main_menu ul li .mega_menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        margin-top: 50px;
    }

    .main_menu ul li:hover>ul {
        visibility: visible;
        opacity: 1;
        margin-top: 0px;
        z-index: 99;
    }

    .main_menu ul li:hover>.mega_menu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
        z-index: 99;
    }
}

@media (max-width: 767.98px) {

    .mega_menu_demo_2 .mega_menu,
    .container {
        width: 100%;
    }

    nav {
        padding: 15px;
    }

    .mobile_btn {
        cursor: pointer;
        display: block;
    }

    .main_menu {
        display: none;
        width: 100%;
    }

    .main_menu ul li {
        display: block;
    }

    .main_menu ul li a i {
        float: right;
    }

    .main_menu ul li a {
        border-bottom: 1px solid #ddd;
    }

    .main_menu ul li ul {
        width: 100%;
    }

    .main_menu ul li ul li ul {
        left: 0;
        top: auto;
    }

    .mega_menu .mega_menu_item {
        width: 50%;
    }

    .main_menu ul li ul {
        display: none;
        transition: none;
    }

    .main_menu ul li .mega_menu {
        display: none;
        transition: none;
    }

    .mega_menu_demo_2 .mega_menu {
        transform: translateX(0);
    }
}

@media (max-width: 575.98px) {
    .mega_menu .mega_menu_item {
        width: 100%;
    }
}





/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0002d7bf;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #010381bf;
  }